<nav class="navbar navbar-expand-lg navbar-dark bg-default">
  <div class="container">
    <a class="navbar-brand" href="#">Pholx Planet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar nav">
      <li class="nav-link">
        <a href="" routerLink="configuration">Configurations</a>
      </li>
      <!---
      <li class="nav-link">
        <a href="" routerLink="generators">Generators</a>
      </li>
            -->
      <li class="nav-link">
        <a class="" routerLink="app-auto/angular-cli-generator">Angular-cli Generator</a>
      </li>
      <li class="nav-link">
        <a class="" routerLink="app-auto/jhipster-generator">Jhipster Generator</a>
      </li>
      <li class="nav-link">
        <a href="" routerLink="elasticsearch">ElasticsearchYML</a>
      </li>
      <li class="nav-link">
        <a href="" routerLink="directory">Directory</a>
      </li>
    </ul>
  </div>
</nav>
