<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12 my-auto">
                <div class="header-content mx-auto text-center">
                    <h1 class="mb-5" style="font-size: 70px;">Platform Operations</h1>
                    <p style="font-size: 36px;">
                        Anything and Everything <br>
                    </p>
                    <p style="font-size: 36px;">
                        Learn <br>
                    </p>
                    <p style="font-size: 36px;">
                        Create <br>
                    </p>
                    <p style="font-size: 36px;">
                        Containerize <br>
                    </p>
                    <p style="font-size: 36px;">
                        Automate <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="contact" id="contact">
    <div class="container-fluid text-center">
        <h2>What is Platform Ops</h2>
        <p class="text-muted">Execution is more important than Planning. Planning is more important than Ideas</p>
        <p class="lead">
            <br><br>Applicable for creating custom docker image or containerising the application.
        </p>
        <p class="lead">
            Platform Operations, will help you containerise all the the ideas, if we haven't covered as part of our
            articles, raise your hand with an issue on <br>
            <h3><a href="https://github.com/JinnaBalu/platform-ops/issues" target="_blank">platform-ops</a></h3>
        </p>
    </div>
</section>
<section class="features bg-warning" id="features">
    <div class="container-fluid">
        <div class="section-heading text-center">
            <h2>Unlimited Articles, Unlimited Fun</h2>
            <p class="text-white">Check out what you can do with platform-ops!</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include article-catergories.html %}
                <br>
                <div class="article-post">
                    <p>
                        Platform Operations will be working on creating tutorials and practical implementation of the
                        dockerisation
                        of any application. Tutorials created here are purely example based, which will help you
                        dockerize your
                        application and run it as a container.
                    </p>
                    <p>
                        Platform Ops covers the topics from different areas of development and operations. We expect the
                        feedback or
                        suggestions to create the new tutorials which are missing. Platform Ops coverwith the following
                        technologies.
                    </p>
                </div>

                {% include technologies.html %}
            </div>
        </div>
    </div>
</section>