<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

<script src="{{site.baseurl}}/assets/js/theme.js"></script>

<script src="{{site.baseurl}}/assets/js/lunr.js"></script>
<!-- Pinterest Script, nothing for you to replace here  -->
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<!-- Cookie Consent, nothing for you to replace here. Remove it if you want  -->
<link rel="stylesheet" type="text/css"
    href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#eb6c44",
                    "text": "#ffffff"
                },
                "button": {
                    "background": "#f5d948"
                }
            },
            "position": "bottom-left",
            "content": {
                "href": "{{site.url}}{{site.baseurl}}/privacy-policy.html"
            }
        })
    });
</script>

{% include share.html %}
{% include google-analytics.html %}