<section class="padding-t-50 padding-b-25 home-section">
    <div class="row no-margin">
        <div class="col-lg-12">
            <h2 class="header-text">Client Apps</h2>
            <hr>
        </div>
    </div>
    <div class="row stack-container">
        <ul class="text-center stacks">
            <li class="clip img-circle">
                <img src="assets/images/tech/html-5.svg">
                <span class="title_sub_tech">HTML</span>
            </li>
            <li class="clip img-circle new">
                <img src="assets/images/tech/angular.svg">
                <span class="title_sub_tech">Angular</span>
            </li>
            <li class="clip img-circle new">
                <img src="assets/images/tech/react.svg">
                <span class="title_sub_tech">React</span>
            </li>
            <li class="clip img-circle new">
                <img src="assets/images/tech/vue.svg">
                <span class="title_sub_tech">Vue</span>
            </li>
            <li class="clip img-circle new">
                <img src="assets/images/tech/redux.svg">
                <span class="title_sub_tech">Redux</span>
            </li>
            <li class="clear"></li>
        </ul>
    </div>
</section>
<section id="application" class="padding-t-50 padding-b-25 home-section">
    <div class="row no-margin">
        <div class="col-lg-12">
            <h2 class="header-text">Application</h2>
            <hr>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle">
                    <img src="assets/images/tech/spring-boot.svg">
                    <span class="title_sub_tech">Spring</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/consul.svg">
                    <span class="title_sub_tech">Consul</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/ehcache.png">
                    <span class="title_sub_tech">EhCache</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/Hazelcast.png" class="invert-hover-white">
                    <span class="title_sub_tech">Hazelcast</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/prometheus.svg">
                    <span class="title_sub_tech">Prometheus</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/nginx.png">
                    <span class="title_sub_tech">nginx</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
    </div>
</section>
<section id="storage" class="padding-t-50 padding-b-25 home-section">
    <div class="row no-margin">
        <div class="col-lg-12">
            <h2 class="header-text">Storage</h2>
            <hr>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle new">
                    <img src="assets/images/tech//couchbase.svg">
                    <span class="title_sub_tech">Couchbase</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/mysql.svg">
                    <span class="title_sub_tech">MySQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/mariadb.svg">
                    <span class="title_sub_tech">MariaDB</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/postgresql.svg" class="height">
                    <span class="title_sub_tech">PostgreSQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/oracle.svg" class="width">
                    <span class="title_sub_tech">Oracle</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/mssql.png">
                    <span class="title_sub_tech">MS SQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/mongo.png">
                    <span class="title_sub_tech">MongoDB</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech//cassandra.svg" class="invert-hover-white">
                    <span class="title_sub_tech">Cassandra</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/elasticsearch.svg">
                    <span class="title_sub_tech">Elasticsearch</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/kafka.svg" class="invert-hover-white">
                    <span class="title_sub_tech">Kafka</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/elastic-stack.png" class="invert-hover-white">
                    <span class="title_sub_tech">Elastic Stack</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
    </div>
</section>
<section id="opts" class="padding-t-50 padding-b-25 home-section">
    <div class="row no-margin">
        <div class="col-lg-12">
            <h2 class="header-text">Continous Integration and Continous Delivery</h2>
            <hr>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle new">
                    <img src="assets/images/tech/jenkins.svg">
                    <span class="title_sub_tech">Jenkins</span>
                </li>
                <li class="clip img-circle new">
                    <img src="assets/images/tech/gitlab.svg">
                    <span class="title_sub_tech">GitLab CI</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
    </div>
</section>