.header-text {
    font-family: Righteous;
}

section.success, section.blue {
    color: #fff;
    background: #3E8ACC;
}

.padding-t-50 {
    padding-top: 50px !important;
}

.padding-b-25 {
    padding-bottom: 25px !important;
}

section {
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.stack-container {
    margin-bottom: 50px;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.stacks {
    /* margin: 0 auto; */
    list-style: none;
    /* padding: 0px 100px 0 100px; */
    /* max-width: 1200px; */
}

section ul {
    font-size: 1.2em;
}

.stacks .clip:hover {
    background-color: #495057;
    border: 1px solid #c90a79;
    color: white !important;
}

.stacks .clip.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.stacks .clip {
    margin: 5px;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid white;
    color: #09486b;
    float: left;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.stacks .clip:hover img {
    -webkit-filter: grayscale(100%) brightness(1.5);
    filter: grayscale(100%) brightness(1.5);
}

.stacks .clip img {
    padding-top: 25px;
    display: block;
    margin: 0 auto;
    height: 100px;
}

.stacks .clip:hover .title_sub_tech {
    color: white;
}

.stacks .clip .title_sub_tech {
    margin-top: 5px;
    font-size: 13px;
    color: #09486b;
    display: block;
    text-align: center;
}

.stacks .clip img.width {
    height: auto;
    width: 100px;
    margin: 28px auto;
}

section.download {
    position: relative;
    padding: 150px 0;
}

section {
    padding: 100px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
}

header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
    background: url(../images/tech/bg-pattern.png), #7b4397;
    background: url(../images/tech/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(../images/tech/bg-pattern.png), linear-gradient(to left, #7b4397, #dc2430);
}

section h2 {
    font-size: 50px;
}

.styled-scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px #983d71;
	border-radius: 100px;
    background-color: #F5F5F5;
}
.styled-scroll::-webkit-scrollbar{
	width: 4px;
    background-color: #F5F5F5;
}
.styled-scroll::-webkit-scrollbar-thumb{
	border-radius: 100px;
	box-shadow: inset 0 0 1px #983d71;
    background-color: #983d71;
}