<div class="container">
  <h2 class="mt-3 text-primary text-center">Generate An Angular Cli App</h2>
  <br>
    <div class="row">
      <div class="col-sm-12 ">
        <div class="rounded mb-2 border pt-3 pt-2 pl-3 pr-3  border-primary">
            <form role="form" novalidate (ngSubmit)="generateAngularCli()" >
              <h4 class="text-primary">Application Properties</h4>
              <hr class="mt-3" />
                <div class="mb-1 row">
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label class="form-control-label" for="#appName">Name of App</label>
                          <input [(ngModel)]="appFields.appName" placeholder="app" name="appName" type="text" id="appName" class="form-control">
                        </div>
                  </div>
                  <div class="col-sm-3 offset-sm-1">
                      <div class="form-group">
                        <label class="form-control-label">App Prefix to use</label>
                        <input type="text" placeholder="app" name="appPrefix" [(ngModel)]="appFields.appPrefix"  class="form-control" />
                      </div>
                  </div>
                  <div class="col-sm-3 offset-sm-1">
                      <div class="form-group">
                        <label class="form-control-label">Directory Name</label>
                        <input type="text" placeholder="app" name="directoryName" [(ngModel)]="appFields.directoryName"  class="form-control" />
                      </div>
                  </div>
                </div>
    
                <div class="row my-1">
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label class="form-control-label">Progressive Web App ?</label>
                        <div class="radio">
                            <label>&nbsp;Yes&nbsp;<input [(ngModel)]="appFields.pwa" type="radio" id="isPwaTrue" [value]="true" name="isPwa" ></label>
                            <label>&nbsp;No&nbsp;&nbsp;<input [(ngModel)]="appFields.pwa" type="radio" id="isPwaFalse" [value]="false"  name="isPwa" checked ></label>
                        </div>
                      </div>    
                  </div>
    
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label class="form-control-label">Add Routing Module ?</label>
                        <div class="radio">
                            <label>&nbsp;Yes&nbsp;<input [(ngModel)]="appFields.routingModule" type="radio" id="isRoutingModuleTrue" [value]="true" name="isRoutingModule" checked ></label>
                            <label>&nbsp;No&nbsp;&nbsp;<input [(ngModel)]="appFields.routingModule" type="radio" id="isRoutingModuleFalse" [value]="false"  name="isRoutingModule" ></label>
                        </div>
                      </div>    
                  </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                          <label class="form-control-label" for="field_styleSheet">Select Stylesheet:</label>
                          <select [(ngModel)]="appFields.stylesheet" name="stylesheet" class="form-control" id="field_styleSheet">
                            <option value="css" selected>CSS</option>
                            <option value="scss">SCSS</option>
                            <option value="less">LESS</option>
                          </select>
                        </div>    
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <div class="form-group">
                          <label class="form-control-label">Use Inline Styles ?</label>
                          <div class="radio">
                              <label>&nbsp;Yes&nbsp;<input [(ngModel)]="appFields.inlineStyle" type="radio" id="isInlineStyleTrue" [value]="true" name="isInlineStyle" ></label>
                              <label>&nbsp;No&nbsp;&nbsp;<input [(ngModel)]="appFields.inlineStyle" type="radio" id="isInlineStyleFalse" [value]="false"  name="isInlineStyle" checked ></label>
                          </div>
                        </div>    
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form-control-label">Use Inline Templates ?</label>
                          <div class="radio">
                              <label>&nbsp;Yes&nbsp;<input [(ngModel)]="appFields.inlineTemplate" type="radio" id="isInlineTemplateTrue" [value]="true" name="isInlineTemplate" ></label>
                              <label>&nbsp;No&nbsp;&nbsp;<input [(ngModel)]="appFields.inlineTemplate" type="radio" id="isInlineTemplateFalse" [value]="false"  name="isInlineTemplate" checked ></label>
                          </div>
                        </div>    
                    </div>
                </div>
    
                <div class="row my-1">
                    <div class="col-sm-3">
                        <div class="form-group">
                          <label class="form-control-label">Skip Install NPM Packages ?</label>
                          <div class="radio">
                              <label>&nbsp;Yes&nbsp;<input [(ngModel)]="appFields.skipInstall" type="radio" id="skipInstallChecked" [value]="true" name="skipInstall" checked ></label>
                              <label>&nbsp;No&nbsp;&nbsp;<input [(ngModel)]="appFields.skipInstall" type="radio" id="skipInstallUnchecked" [value]="false" name="skipInstall"></label>
                          </div>
                        </div>    
                    </div>
                    <div class="col-sm-3 offset-sm-1">
                        <div class="form-group">
                          <label class="form-control-label">Skip Test Creation ?</label>
                          <div class="radio">
                              <label>&nbsp;Yes&nbsp;<input [(ngModel)]="appFields.skipTest" type="radio" id="skipTestChecked" [value]="true" name="skipTest"></label>
                              <label>&nbsp;No&nbsp;&nbsp;<input [(ngModel)]="appFields.skipTest" type="radio" id="skipTestUnchecked" [value]="false" name="skipTest" checked ></label>
                          </div>
                        </div>    
                    </div>
                    <div class="col-sm-3 offset-sm-1" >
                        <div class="form-group">
                          <label class="form-control-label">Push to GitHub ?</label>
                          <div class="radio">
                              <label>&nbsp;Yes&nbsp;<input [(ngModel)]="appFields.isPushToGithub" type="radio" id="isPushToGitHubTrue" [value]="true" name="isPushToGithub" ></label>
                              <label>&nbsp;No&nbsp;&nbsp;<input [(ngModel)]="appFields.isPushToGithub" type="radio" id="isPushToGitHubFalse" [value]="false"  name="isPushToGithub" checked ></label>
                          </div>
                        </div>    
                    </div>
                  </div>
    
                <div *ngIf="appFields.isPushToGithub">
                  <hr /> 
                    <h4 class="text-primary">GitHub Properties</h4>
                    <hr />
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="form-control-label" for="field_nameOfUser">Name</label>
                        <input type="text" class="form-control" id="field_nameOfUser" name="nameOfuser" [(ngModel)]="appFields.nameOfUser" >
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="foem-group">
                          <label class="form-control-label" for="field_userEmail">Email Id</label>
                          <input type="text" class="form-control" id="field_userEmail" name="userEmail" [(ngModel)]="appFields.userEmail">      
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="form-control-label" for="field_gitUserName">GitHub UserName</label>
                          <input type="text" class="form-control" id="field_gitUserName" name="gitUserName" [(ngModel)]="appFields.gitUserName">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="foem-group">
                            <label class="form-control-label" for="field_gitPassword">GitHub Password</label>
                            <input type="password" class="form-control" id="field_gitPassword" name="gitPassword" [(ngModel)]="appFields.gitPassword">      
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="form-control-label">Repository Description</label>
                          <textarea id="field_repoDescription" name="repoDescription" class="form-control" rows="3" [(ngModel)]="appFields.repoDescription"></textarea>
                        </div>
                      </div>
                    </div>
                  <br>
                  <br>
                </div>
    
                <div class="row">
                  <div class="col-sm-3 offset-sm-4">
                      <div class="form-group">
                        <button type="submit" id="generate-button"  class="btn btn-primary">
                          <span>Generate App</span>
                        </button>
                      </div>
                  </div>
                </div>
    
            </form>
        </div>
      </div>
    </div>

      <div class="border rounded mb-4 mt-2" >
          <div class="row">
              <div class="col-sm-12">
                <div class="card bg-light px-3 pt-2" style="overflow-x: auto">
                  <h5 class="mb-1 mt-2">Selected Properties</h5>
                  <hr class="mt-1 mb-4" />
                  <p><b>App Name :</b> &nbsp; <span [style.color]="'green'">{{appFields.appName}}</span></p>
                  <p><b>Progressive WebApp ? : </b>&nbsp;<span [style.color]="appFields.pwa === true ? 'green' : 'red'">{{appFields.pwa}}</span></p>
                  <p><b>Routing ? : </b> &nbsp;<span [style.color]="appFields.routingModule === true ? 'green' : 'red'">{{appFields.routingModule}}</span></p>
                  <p><b>Inline Style ? : </b> &nbsp; <span [style.color]="appFields.inlineStyle === true ? 'green' : 'red'">{{appFields.inlineStyle}}</span></p>
                  <p><b>Inline Template ? : </b>&nbsp; <span [style.color]="appFields.inlineTemplate === true ? 'green' : 'red'">{{appFields.inlineTemplate}}</span></p>
                  <p><b>Skip Install ? : </b> &nbsp;<span [style.color]="appFields.skipInstall === true ? 'green' : 'red'">{{appFields.skipInstall}}</span></p>
                  <p><b>Skip Test ? : </b> &nbsp;<span [style.color]="appFields.skipTest === true ? 'green' : 'red'">{{appFields.skipTest}}</span></p>
                  <p><b>Push To Github ? : </b>&nbsp; <span [style.color]="appFields.isPushToGithub === true ? 'green' : 'red'">{{appFields.isPushToGithub}}</span></p>                  
                  <hr class="mt-2 mb-3" />
                  <p><b>Angular Cli Progress</b>&nbsp;</p>
                  <div [style.color]="'green'">
                    <span [innerHTML]="angularCliResponse.angularProgress"></span>
                  </div>
                  <hr />
                  <p><b>Response :</b>&nbsp;<span [style.color]="'green'">{{angularCliResponse.responseMessage}}</span></p>
                  <span *ngIf="angularCliResponse.isPushToGitHub">
                      <p><b>Commit Status :&nbsp;</b>&nbsp; Intial commit with Id : {{angularCliResponse.commit}} on branch : {{angularCliResponse.commitBranch}}</p>
                      <p><b>Push Status &nbsp;:</b> &nbsp; {{angularCliResponse.pushMessage}}</p> 
                  </span>
                </div>
              </div>
            </div>
      </div>
</div>
