<div class="container">
  <h2 class="mt-3 text-primary text-center">Generate A Jhipster App</h2>
  <br>
    <div class="row">
        <div class="col-sm-12">
          <form role="form" novalidate (ngSubmit)="generateJhipster()" >
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="baseName">Application name</label>
                      <input type="text" class="form-control" id="baseName" [(ngModel)]="jhipsterAppModel.baseName" name="baseName"
                             #baseName="ngModel" required pattern="^([a-zA-Z0-9]*)$" placeholder="jhipster" >
                      <div *ngIf="baseName.errors" class="alert alert-danger">Your application name cannot contain special characters or a blank space.</div>
                  </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="repositoryName">Repository name</label>
                  <input type="text" class="form-control" id="repositoryName" [(ngModel)]="repositoryName" name="repositoryName"
                  placeholder="Name of repository"
                             required pattern="^([a-zA-Z0-9\-_]*)$">
                </div>
              </div>
            </div>
          <hr />
          <h4>Application type</h4>
          <hr />
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="applicationType">Which type of application would you like to create?</label>
                      <select id="applicationType" [(ngModel)]="jhipsterAppModel.applicationType" name="applicationType"
                              class="form-control" #applicationType="ngModel"
                              (change)="changeApplicationType()">
                          <option value="monolith">Monolithic application (recommended for simple projects)</option>
                          <option value="microservice">Microservice application</option>
                          <option value="gateway">Microservice gateway</option>
                          <option value="uaa">[BETA] JHipster UAA server (for microservice OAuth2 authentication)</option>
                      </select>
                  </div>
              </div>
          </div>
          <hr />
          <h4>Server side options</h4>
          <hr />
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="packageName">What is your default Java package name?</label>
                      <input type="text" class="form-control" id="packageName" [(ngModel)]="jhipsterAppModel.packageName"
                             name="packageName" #packageName="ngModel" placeholder="io.github.jhipster.application"
                             required pattern="^([a-z_]{1}[a-z0-9_]*(\.[a-z_]{1}[a-z0-9_]*)*)$"
                             (change)="changePackageName()">
                      <div *ngIf="packageName.errors" class="alert alert-danger">The package name you have provided is not a valid Java package name.</div>
                  </div>
                  <div class="form-group">
                      <label for="serverPort">On which port would like your server to run? It should be unique to avoid
                          port
                          conflicts.</label>
                      <input type="number" class="form-control" id="serverPort" [(ngModel)]="jhipsterAppModel.serverPort"
                             name="serverPort" #serverPort="ngModel"
                             required>
                  </div>
                  <div class="form-group">
                      <label for="serviceDiscoveryType">Do you want to use the JHipster Registry to configure, monitor and
                          scale your application?</label>
                      <select id="serviceDiscoveryType" [(ngModel)]="jhipsterAppModel.serviceDiscoveryType"
                              name="serviceDiscoveryType"
                              class="form-control"
                              #serviceDiscoveryType="ngModel" (change)="changeServiceDiscoveryType()">
                          <option value="false">No</option>
                          <option value="eureka">Yes</option>
                          <option value="consul" [hidden]="jhipsterAppModel.applicationType === 'monolith'">No, use Consul as an alternative solution (uses Spring Cloud
                              Consul)
                          </option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="authenticationType">Which <i>type</i> of authentication would you like to use?</label>
                      <select id="authenticationType" [(ngModel)]="jhipsterAppModel.authenticationType" name="authenticationType"
                              class="form-control" #authenticationType="ngModel" (change)="changeAuthenticationType()">
                          <option value="jwt">JWT authentication (stateless, with a token)</option>
                          <option value="oauth2">OAuth 2.0 / OIDC Authentication (stateful, works with Keycloak and Okta)</option>
                          <option value="session" [hidden]="jhipsterAppModel.serviceDiscoveryType === 'eureka' || jhipsterAppModel.applicationType !== 'monolith'">HTTP Session
                              Authentication (stateful, default Spring Security mechanism)
                          </option>
                          <option value="uaa" [hidden]="jhipsterAppModel.applicationType !== 'gateway' && jhipsterAppModel.applicationType !== 'microservice'">Authentication
                              with
                              JHipster UAA server (the server must be generated separately)
                          </option>
                      </select>
                  </div>
                  <div class="form-group" [hidden]="jhipsterAppModel.applicationType !== 'uaa'">
                      <label for="uaaBaseName">What is the folder path of your UAA application?</label>
                      <input type="text" class="form-control" id="uaaBaseName" [(ngModel)]="jhipsterAppModel.uaaBaseName"
                             name="uaaBaseName" #uaaBaseName="ngModel"
                             required>
                  </div>
                  <div class="form-group">
                      <label for="databaseType">Which <i>type</i> of database would you like to use?</label>
                      <select id="databaseType" [(ngModel)]="jhipsterAppModel.databaseType" name="databaseType" class="form-control"
                              #databaseType="ngModel" (change)="changeDatabaseType()">
                          <option value="sql">SQL (H2, MySQL, MariaDB, PostgreSQL, Oracle, MSSQL)</option>
                          <option value="mongodb">MongoDB</option>
                          <option value="cassandra" [hidden]="jhipsterAppModel.authenticationType === 'oauth2'">Cassandra</option>
                          <option value="couchbase">[BETA] Couchbase</option>
                          <option value="no"
                                  [hidden]="!((jhipsterAppModel.authenticationType !== 'oauth2' && jhipsterAppModel.applicationType === 'microservice')
                      || (jhipsterAppModel.authenticationType === 'uaa' && jhipsterAppModel.applicationType === 'gateway'))">No database</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="prodDatabaseType">Which <i>production</i> database would you like to use?</label>
                      <select id="prodDatabaseType" [(ngModel)]="jhipsterAppModel.prodDatabaseType" name="prodDatabaseType"
                              class="form-control" #prodDatabaseType="ngModel" (change)="changeProdDatabaseType()">
                          <option value="mysql" [hidden]="jhipsterAppModel.databaseType !== 'sql'">MySQL</option>
                          <option value="mariadb" [hidden]="jhipsterAppModel.databaseType !== 'sql'">MariaDB</option>
                          <option value="postgresql" [hidden]="jhipsterAppModel.databaseType !== 'sql'">PostgreSQL</option>
                          <option value="oracle" [hidden]="jhipsterAppModel.databaseType !== 'sql'">Oracle (Please follow our documentation to use the Oracle proprietary
                              driver)
                          </option>
                          <option value="mssql" [hidden]="jhipsterAppModel.databaseType !== 'sql'">Microsoft SQL Server</option>
                          <option value="mongodb" [hidden]="jhipsterAppModel.databaseType !== 'mongodb'">MongoDB</option>
                          <option value="cassandra" [hidden]="jhipsterAppModel.databaseType !== 'cassandra'">Cassandra</option>
                          <option value="couchbase" [hidden]="jhipsterAppModel.databaseType !== 'couchbase'">Couchbase</option>
                          <option value="no" [hidden]="jhipsterAppModel.databaseType !== 'no'">No database</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="devDatabaseType">Which <i>development</i> database would you like to use?</label>
                      <select id="devDatabaseType" [(ngModel)]="jhipsterAppModel.devDatabaseType" name="devDatabaseType"
                              class="form-control" #devDatabaseType="ngModel">
                          <option value="h2Disk" [hidden]="jhipsterAppModel.databaseType !== 'sql'">H2 with disk-based persistence</option>
                          <option value="h2Memory" [hidden]="jhipsterAppModel.databaseType !== 'sql'">H2 with in-memory persistence</option>
                          <option value="mysql" [hidden]="jhipsterAppModel.databaseType !== 'sql' || jhipsterAppModel.prodDatabaseType !== 'mysql'">MySQL</option>
                          <option value="mariadb" [hidden]="jhipsterAppModel.databaseType !== 'sql' || jhipsterAppModel.prodDatabaseType !== 'mariadb'">MariaDB</option>
                          <option value="postgresql" [hidden]="jhipsterAppModel.databaseType !== 'sql' || jhipsterAppModel.prodDatabaseType !== 'postgresql'">PostgreSQL</option>
                          <option value="oracle" [hidden]="jhipsterAppModel.databaseType !== 'sql' || jhipsterAppModel.prodDatabaseType !== 'oracle'">Oracle (Please follow our documentation to use the Oracle proprietary
                              driver)
                          </option>
                          <option value="mssql" [hidden]="jhipsterAppModel.databaseType !== 'sql' || jhipsterAppModel.prodDatabaseType !== 'mssql'">Microsoft SQL Server</option>
                          <option value="mongodb" [hidden]="jhipsterAppModel.databaseType !== 'mongodb'">MongoDB</option>
                          <option value="cassandra" [hidden]="jhipsterAppModel.databaseType !== 'cassandra'">Cassandra</option>
                          <option value="couchbase" [hidden]="jhipsterAppModel.databaseType !== 'couchbase'">Couchbase</option>
                          <option value="no" [hidden]="jhipsterAppModel.databaseType !== 'no'">No database</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="cacheProvider">Do you want to use the Spring cache abstraction?</label>
                      <select id="cacheProvider" [(ngModel)]="jhipsterAppModel.cacheProvider" name="cacheProvider"
                              class="form-control" #cacheProvider="ngModel">
                          <option value="ehcache">Yes, with ehcache (local cache, for a single node)</option>
                          <option value="hazelcast">Yes, with HazelCast (distributed cache, for multiple nodes)</option>
                          <option value="infinispan">[BETA] Yes, with Infinispan (hybrid cache, for multiple nodes)</option>
                          <option value="no">No</option>
                      </select>
                  </div>
                  <div class="form-group" [hidden]="jhipsterAppModel.databaseType !== 'sql' || jhipsterAppModel.cacheProvider === 'no'">
                      <label for="enableHibernateCache">Do you want to use Hibernate 2nd level cache?</label>
                      <select id="enableHibernateCache" [(ngModel)]="jhipsterAppModel.enableHibernateCache" name="enableHibernateCache"
                              class="form-control" #enableHibernateCache="ngModel">
  
                          <option [ngValue]="true">Yes</option>
                          <option [ngValue]="false">No</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="buildTool">Would you like to use Maven or Gradle for building the backend?</label>
                      <select id="buildTool" [(ngModel)]="jhipsterAppModel.buildTool" name="buildTool" class="form-control"
                              #buildTool="ngModel">
                          <option value="maven">Maven</option>
                          <option value="gradle">Gradle</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Which other technologies would you like to use?</label>
                      <div class="container">
                          <div class="row">
                              <div class="col-md-1">
                                  <input type="checkbox" class="form-control" id="enableSwaggerCodegen"
                                         [(ngModel)]="jhipsterAppModel.enableSwaggerCodegen" name="enableSwaggerCodegen"
                                         #enableSwaggerCodegen="ngModel">
                              </div>
                              <div class="col-md-5">
                                  <label for="enableSwaggerCodegen">API first development using OpenAPI-generator</label>
                              </div>
                              <div class="col-md-1">
                                  <input type="checkbox" class="form-control" id="searchEngine"
                                         [(ngModel)]="jhipsterAppModel.searchEngine" name="searchEngine"
                                         #searchEngine="ngModel"
                                         [hidden]="jhipsterAppModel.databaseType === 'cassandra' || jhipsterAppModel.databaseType === 'couchbase'">
                              </div>
                              <div class="col-md-5">
                                  <label for="searchEngine"
                                         [hidden]="jhipsterAppModel.databaseType === 'cassandra' || jhipsterAppModel.databaseType === 'couchbase'">Search engine using Elasticsearch</label>
                              </div>
  
                          </div>
                          <div class="row">
                              <div class="col-md-1">
                                  <input type="checkbox" class="form-control" id="websocket" [(ngModel)]="jhipsterAppModel.websocket"
                                         name="websocket"
                                         #websocket="ngModel">
                              </div>
                              <div class="col-md-5">
                                  <label for="websocket">WebSockets using Spring Websocket</label>
                              </div>
                              <div class="col-md-1">
                                  <input type="checkbox" class="form-control" id="messageBroker"
                                         [(ngModel)]="jhipsterAppModel.messageBroker" name="messageBroker"
                                         #messageBroker="ngModel">
                              </div>
                              <div class="col-md-5">
                                  <label for="messageBroker">Asynchronous messages using Apache Kafka</label>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <hr />
          <h4 [hidden]="jhipsterAppModel.applicationType === 'microservice'">Client side options</h4>
          <hr [hidden]="jhipsterAppModel.applicationType === 'microservice'">
          <div class="row" [hidden]="jhipsterAppModel.applicationType === 'microservice'">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="clientFramework">Which <i>Framework</i> would you like to use for the client?</label>
                    <select id="clientFramework" [(ngModel)]="jhipsterAppModel.clientFramework" name="clientFramework"
                            class="form-control" #clientFramework="ngModel">
                        <option value="angularX">Angular 6</option>
                        <option value="react">React</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="useSass">Would you like to use the LibSass stylesheet preprocessor for your CSS?</label>
                    <select id="useSass" [(ngModel)]="jhipsterAppModel.useSass" name="useSass" class="form-control"
                            #useSass="ngModel">
                         <option [ngValue]="false">No</option>
                        <option [ngValue]="true">Yes</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <h4>Internationalization options</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="enableTranslation">Would you like to enable internationalization support?</label>
                    <select id="enableTranslation" [(ngModel)]="jhipsterAppModel.enableTranslation" name="enableTranslation"
                            class="form-control" #enableTranslation="ngModel">
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
                <div class="form-group" [hidden]="jhipsterAppModel.enableTranslation === false">
                    <label for="nativeLanguage">Please choose the native language of the application</label>
                    <select id="nativeLanguage" [(ngModel)]="jhipsterAppModel.nativeLanguage" name="nativeLanguage"
                            class="form-control" #nativeLanguage="ngModel">
                        <option *ngFor="let option of languageOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group" [hidden]="jhipsterAppModel.enableTranslation === false">
                    <label for="languages">Please choose additional languages to install</label>
                    <select id="languages" [(ngModel)]="jhipsterAppModel.languages" name="languages" class="form-control"
                            #languages="ngModel" multiple>
                        <option *ngFor="let option of languageOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <h4>Testing options</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="testFrameworks">Besides JUnit and Karma, which testing frameworks would you like to
                        use?</label>
                    <select id="testFrameworks" [(ngModel)]="jhipsterAppModel.testFrameworks" name="testFrameworks"
                            class="form-control" #testFrameworks="ngModel"
                            multiple>
                        <option value="gatling">Gatling</option>
                        <option value="cucumber">Cucumber</option>
                        <option value="protractor" [hidden]="jhipsterAppModel.applicationType === 'microservice'">Protractor</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
            
        <!--Push to Gitlab-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">Push to Gitlab ?</label>
                    <div class="radio">
                        <label>&nbsp;Yes&nbsp;<input [(ngModel)]="gitlabObject.isPushToGitlab" type="radio" id="isPushToGitabTrue" [value]="true" name="isPushToGitlab" ></label>
                        <label>&nbsp;No&nbsp;&nbsp;<input [(ngModel)]="gitlabObject.isPushToGitlab" type="radio" id="isPushToGitlabFalse" [value]="false"  name="isPushToGitlab" checked ></label>
                    </div>
                </div>
            </div>
        </div> 
        <div *ngIf="gitlabObject.isPushToGitlab">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-control-label" for="field_nameOfUser">Name</label>
                  <input type="text" class="form-control" id="field_nameOfUser" name="nameOfuser" [(ngModel)]="gitlabObject.nameOfUser" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="foem-group">
                    <label class="form-control-label" for="field_userEmail">Email Id</label>
                    <input type="text" class="form-control" id="field_userEmail" name="userEmail" [(ngModel)]="gitlabObject.userEmail">      
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-control-label" for="field_gitUserName">GitLab UserName</label>
                    <input type="text" class="form-control" id="field_gitUserName" name="gitUserName" [(ngModel)]="gitlabObject.gitUserName">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="foem-group">
                      <label class="form-control-label" for="field_gitPassword">Gitlab Password</label>
                      <input type="password" class="form-control" id="field_gitPassword" name="gitPassword" [(ngModel)]="gitlabObject.gitPassword">      
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label class="form-control-label">Gitlab Token</label>
                          <input type="text" name="gitlabToken" class="form-control" [(ngModel)]="gitlabObject.gitToken">
                      </div>
                  </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-control-label">Repository Description</label>
                    <textarea id="field_repoDescription" name="repoDescription" class="form-control" rows="3" [(ngModel)]="gitlabObject.repoDescription"></textarea>
                  </div>
                </div>
              </div>
            <br>
            <br>
          </div>
          
          <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="text-center" id="generate-button"  class="btn btn-primary">
                        <span>Save</span>
                    </button>
                </div>
            </div>
          </div>
          
        </form>
        </div>
      </div>


      <div id="ResponseBox" class="border rounded">
          <div class="row">
              <div class="col-sm-12">
                <div class="card bg-light px-3 pt-2" style="overflow-x: auto">
                  <p><b>App Name :</b> &nbsp; {{jhipsterAppModel.baseName}}</p>
                  <p><b>Push to Gitlab ?</b>{{ gitlabObject.isPushToGitlab}}</p>
                  <p><b>Jhipster Command</b>&nbsp;</p>
                  <div [innerHTML]="jhipsterResponse.jhipsterCommand">
                  </div>
                  <p><b>Jhipster Output</b>&nbsp;</p>
                  <div [innerHTML]="jhipsterResponse.jhipsterOutput">
                  </div>                  
                  <br>
                  <p><b>Response :</b>&nbsp;{{jhipsterResponse.responseMessage}}</p>
                  <p *ngIf="gitlabObject.isPushToGitlab">
                      Successfuly pushed to <a href="https://gitlab.com/{{gitlabObject.gitUserName}}/{{jhipsterAppModel.baseName}}">Link</a>
                  </p>
                </div>
              </div>
            </div>
      </div>
</div>
